body {
    height: 100%;
    width: 100%;
    background: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

header {
    position: fixed;
    /*height: 50px;*/
    width: 100%;
}

#logo {
    text-align: center;
}

.logo {
    height: 25px;
    margin: 40px;
}

main {
    height: calc(100% - 50px);
    top: 50px;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

footer {
    position: fixed;
    height: 200px;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    width: 100%;
    color: white;
    text-align: center;
}

.footer-text {
    width: 100%;
    display: block;
    height: 100px;
    padding: 20px 20%;
}

.footer-links {
    height: 50px;
}

.sublist {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 100px;
    /*transition: .5s;*/
}

.sublist.left {
    left: -100%;
}

.sublist.right {
    left: 100%;
}

.sublist.center {
    left: 0;
}

.wrap {
    overflow:hidden;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    width: 100px;
    height: 100px;
    /*margin: 30px;*/
}

.row {
    width: 90%;
    margin: 0 10%;
}

.post {
    /*    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
         clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);*/
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    position: relative;
    transition: .3s ease-in;
    width: 200px;
    height: 200px;
    top: -50px;
    left: -50px;
}

.post:hover {
    width: 150px;
    height: 150px;
    top: -25px;
    left: -25px;
}

nav.pager-button {
    position: fixed;
    top: calc(50% - 25px);  
    cursor: pointer;
}

#previous {
    left: 100px;
}

#next {
    right: 100px;
}

#post {
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    transition: 1s ease-in;
}

#list {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transition: 1s ease-in;
}