<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta charset="UTF-8" />
        <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/manifest.json">
        <!-- Favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">        
        <meta charset="UTF-8" />
        <meta name="description" content="thelapaz.pl" />
        <title>{% block title %}The Lapaz{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/lib/jquery-ui/jquery-ui.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/lib/bootstrap/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/lib/bootstrap/css/bootstrap-theme.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <header>
                {% block header %}
                    {{ include('header.html.twig') }}
                {% endblock %}
            </header>

            <main>
                <div id="post"></div>
                <div id="list">
                    {% block body %}{% endblock %}
                </div>
            </main>
                
            <nav id="previous" class="pager-button">
                <img src="{{ asset('assets/img/arrow-left.png') }}" alt="<"/>
            </nav>
            <nav id="next" class="pager-button">
                <img src="{{ asset('assets/img/arrow-right.png') }}" alt="<"/>
            </nav>

            <footer>
                {% block footer %}
                    {{ include('footer.html.twig') }}
                {% endblock %}
            </footer>
        </div>

        {% block javascripts_footer %}
            
            <script src="{{ asset('assets/lib/jquery/jquery-2.2.1.js') }}"></script>
            <script src="{{ asset('assets/lib/jquery-ui/jquery-ui.js') }}"></script>
            <script src="{{ asset('assets/lib/jquery.serializeJSON/jquery.serializejson.js') }}"></script>
            <script src="{{ asset('assets/lib/bootstrap/js/bootstrap.js') }}"></script>
    {#        <script src="{{ asset('assets/lib/bootstrap/js/npm.js') }}"></script>#}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
            <script src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}

    </body>
</html>
