<div class="footer-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vehicula maximus ante, in finibus augue tincidunt in. In scelerisque tincidunt nisl, et maximus quam aliquam nec. Aenean dictum lobortis nibh, eget ornare felis bibendum id. Quisque nec ex in ligula tempor efficitur. Suspendisse fringilla dui turpis, ac ultrices arcu eleifend in. Phasellus vestibulum justo sit amet quam blandit, nec imperdiet eros lacinia. Aenean aliquam sit amet nunc nec maximus. Vivamus in interdum ligula, a rhoncus ante.
</div>
<div class="footer-links">
    <img src="{{ asset('assets/img/icons.png') }}" alt="links"/>
</div>
    