{% extends "base.html.twig" %}

{% block body %}
    <div class="sublist left table">
        {{ include('post/sublist.html.twig', { 'posts': leftPosts }) }}
    </div>

    <div class="sublist center table">
        {{ include('post/sublist.html.twig', { 'posts': centerPosts }) }}
    </div>

    <div class="sublist right table">
        {{ include('post/sublist.html.twig', { 'posts': rightPosts }) }}
    </div>
{% endblock %}