{% set count = 0 %}
{% for post in posts %}
    {% if count == 0 %}
        <div class="row">
    {% endif %}
    {% set photo = post.photos[0] %}
    <div class="col-sm-1">
        <div class="wrap">
            <img id="{{ post.id }}" class="post" src="{{ photo.alt_sizes[photo.alt_sizes|length - 3].url }}" alt="{{ photo.caption }}" />
        </div>
    </div>
    {% set count = count + 1 %}
    {% if (count) == 10 %}
        </div>
        {% set count = 0 %}
    {% endif %}
{% endfor %}